/* .hljs {
	background-color: #1c1e26;
	color: grey;
}

.hljs-string {
	color: #fab795;
}

.hljs-keyword {
	color: #b877db !important;
}

.hljs-attr {
	color: #e95678;
}

.hljs-built_in {
	color: #fab795;
}

.hljs-function {
	color: #25b0bc;
}

.react-syntax-highlighter-line-number {
	color: #ffff;
}

/* span {
	display: block;
} */

/* code {
	display: block;
}

.purple {
	color: #b877db;
} */
